{% extends 'pages/base.html' %}

{% block content %}
    <h2>Editar Mi Perfil</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h4 style="border-bottom: 1px solid #ccc; padding-bottom: 5px;">Datos de Usuario</h4>
        {{ user_form.as_p }}
        
        <h4 style="border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-top: 20px;">Foto y Biografía</h4>
        {{ perfil_form.as_p }}
        
        <br>
        <button type="submit" class="btn">Guardar Cambios</button>
        <a href="{% url 'perfil' %}" class="btn btn-danger" style="text-decoration: none;">Cancelar</a>
    </form>
{% endblock %}